# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://rmchkoktpzoojlglyfca.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Postmark
POSTMARK_SERVER_TOKEN=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
